{% extends "vmip/base.html" %}
{% block content %} 
<div class="w-full min-h-screen bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100 p-4 flex justify-center" >
  <div class="bg-white py-6 px-10 w-full">
  
    <h2 class="text-2xl font-semibold text-center text-sky-600 mb-5">漁船詳細資料</h2>
  
    <div class="pb-4 px-96">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tbody>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        漁船編號
                    </th>
                    <td class="py-4 px-2">
                        CT3-123456
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        所屬漁會
                    </th>
                    <td class="py-4 px-2">
                        基隆
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        中文船名
                    </th>
                    <td class="py-4 px-2">
                        測試號
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        所屬縣市
                    </th>
                    <td class="py-4 px-2">
                        基隆市
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        英文船名
                    </th>
                    <td class="py-4 px-2">
                        TEST
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        主漁業經營種類
                    </th>
                    <td class="py-4 px-2">
                        單船拖網
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        總噸數
                    </th>
                    <td class="py-4 px-2">
                        12.34噸
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        漁船執照有效期限
                    </th>
                    <td class="py-4 px-2">
                        5年
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        所屬人姓名
                    </th>
                    <td class="py-4 px-2">
                        測試者
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        漁船執照有效日期
                    </th>
                    <td class="py-4 px-2">
                        112-12-31
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        身分證字號
                    </th>
                    <td class="py-4 px-2">
                        A123456789
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        船員人數
                    </th>
                    <td class="py-4 px-2">
                        6
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        電話
                    </th>
                    <td class="py-4 px-2">
                        02-1234-5678
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        船員定額
                    </th>
                    <td class="py-4 px-2">
                        8
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        傳真號碼
                    </th>
                    <td class="py-4 px-2">
                        02-5678-1234
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        漁業根據地代號
                    </th>
                    <td class="py-4 px-2">
                        八斗子
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        所屬人地址
                    </th>
                    <td class="py-4 px-2">
                        臺北市中正區詔安街284號
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        公司名稱
                    </th>
                    <td class="py-4 px-2">
                        海漁基金會
                    </td>
                </tr>
                <tr class="border-b border-gray-400 dark:border-gray-700">
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        公司電話
                    </th>
                    <td class="py-4 px-2">
                        02-2309-9177
                    </td>
                    <th scope="row" class="py-4 px-2 font-medium text-gray-900 whitespace-nowrap bg-blue-100 dark:text-white dark:bg-gray-800">
                        公司地址
                    </th>
                    <td class="py-4 px-2">
                        臺北市中正區詔安街284號
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>
</div>
     
{% endblock content %}

