<div class="bg-white sm:max-w-md w-full ">
    <h2 class="sm:text-3xl text-2xl font-semibold text-center text-sky-600 mb-5">停泊費用預覽</h2><br>
    <p class="text-base">停泊區域：<span class="text-base font-bold text-red-600">
        <select id="dock" class="focus:outline-none border-b w-30  border-sky-400 placeholder-gray-500 rounded-lg">
            <option value="floating_dock" selected>浮動碼頭</option>
            <option value="parallel_dock">平行岸壁碼頭</option>
            <option value="vertical_dock">垂直岸壁碼頭</option>
        </select>
        <br>
        <p class="text-base font-bold text-red-600">&emsp;&emsp;&emsp;&emsp;&emsp;15公尺(新台幣<span id="money">六百元/日)</sapn></p>
        </span>
    </p>
    <p class="text-base mt-2">申請天數：<span class="text-base font-bold text-red-600">自2022-11-05至2023-01-15<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;（共72日）</span></p>
    <p class="mt-2">繳費方式：<span class="text-lg font-bold text-red-600">
        ⬛️月繳
    </span></p>
    <p>應繳費用：<br></p>
    <hr class="mt-2 border border-red-500 border-dashed">
    <p class="font-bold my-2">
        第一期：2022-11-05至2022-11-30
        <p class="text-base font-bold text-red-600">
            <span id="installment_1">新臺幣15,600元(600元 X 26日)</span><br>
            繳費期限：2022-11-05前
        </p>
    </p>
    <hr class="mt-2 border border-red-500 border-dashed">
    <p class="font-bold my-2">
        第二期：2022-12-01至2022-12-31
        <p class="text-base font-bold text-red-600">
            <span id="installment_2">新臺幣18,600元(600元 X 31日)</span><br>
            繳費期限：2022-11-30前
        </p>
    </p>
    <hr class="mt-2 border border-red-500 border-dashed">
    <p class="font-bold my-2">
        第三期：2023-01-01至2023-01-15
        <p class="text-base font-bold text-red-600">
            <span id="installment_3">新臺幣9,000元(600元 X 15日)</span><br>
            繳費期限：2022-12-31前
        </p>
    </p>
    <hr class="mt-2 border border-red-500 border-dashed">
    <div>
        <div class="text-red-500 font-bold">
            注意：
            <ul class="list-decimal ml-4">
                <li>
                    請於進港前繳納停泊費用，逾期未繳將產生滯納金。
                </li>
                <li>
                    逾期30天未繳將開始計算利息。請申請人注意繳費期限！
                </li>
            </ul>
        </div>
        <br>
        <div>
            <span class="font-bold">繳費單開立方法</span>（
            <button data-collapse-toggle="bill" class="text-blue-700 visited:text-purple-600" type="button" >             
                <div class="inline-block">點擊詳閱</div>
            </button>
            ）
            <div id="bill" class="hidden">
                <ul class="list-decimal ml-4 text-sm">
                    <li>
                        第一期繳費單於核准時開立。
                    </li>
                    <li>
                        第二期起之繳費單，於前月二十日開立，遇假日則順延開立。
                    </li>
                    <li>
                        最後一期繳費單開立後至核定離港所餘日數未超過十日者，。併入前一期開立
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <div>
            <span class="font-bold">第一類漁港遊艇停泊費收費標準</span>（
            <button data-collapse-toggle="charges" class="text-blue-700 visited:text-purple-600" type="button" >             
                <div class="inline-block">點擊詳閱</div>
            </button>
            ）<br>
            <div id="charges" class="hidden">
                <span class="text-sm">
                    遊艇停泊第一類漁港或各類船舶停泊第一類漁港遊艇泊區，其每日停泊費收費基準如下：
                </span>
                <ul class="list-inside text-sm ml-7" style="list-style:cjk-ideographic">
                    <li>
                        浮動碼頭以船席計算：
                        <ul class="list-none">
                            <li>
                                （一）十公尺：新臺幣四百元。
                            </li>
                            <li>
                                （二）十五公尺：新臺幣六百元。
                            </li>
                            <li>
                                （三）十八公尺：新臺幣七百二十元。
                            </li>
                            <li>
                                （四）二十公尺：新臺幣八百元。
                            </li>
                            <li>
                                （五）三十公尺：新臺幣一千五百元。
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        以船舶平行岸壁碼頭停泊者，以船舶全長（Length Overall；LOA）計算，且長度以公尺為最小單位，未滿一公尺者，以一公尺計：
                        <ul class="list-none brackets_number" >
                            <li class="flex">
                                <span>（一）</span>
                                十公尺以下：新臺幣二百元。
                            </li>
                            <li class="flex">
                                <span>（二）</span>
                                超過十公尺至二十公尺以下：每公尺新臺幣二十元。
                            </li>
                            <li class="flex">
                                <span>（三）</span>
                                超過二十公尺至三十公尺以下：每公尺新臺幣二十五元。
                            </li>
                            <li class="flex">
                                <span>（四）</span>
                                超過三十公尺至五十公尺以下：每公尺新臺幣三十五元。
                            </li>
                            <li class="flex">
                                <span>（五）</span>
                                超過五十公尺：每公尺新臺幣五十。
                            </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        以船舶垂直岸壁碼頭停泊者，以船寬五公尺以下為限，每船新臺幣一百元。
                    </li>
                </ul>
            </div>
        </div>
    </div>    
    <div class="flex justify-center my-6">
        <button class="rounded-full p-3 w-full sm:w-56 bg-gradient-to-r from-gray-600 to-gray-300 text-white text-lg font-semibold" onclick="previousPage()">上一頁</button>
        <button class="rounded-full p-3 w-full sm:w-56 bg-gradient-to-r from-sky-600 to-teal-300 text-white text-lg font-semibold ml-2">申請</button>
    </div>
    
</div>

<script>
    $('#dock').on("change", function (event) {
        getMoney(event.target.value);
    })

    function getMoney(dock) {
        if(dock == 'floating_dock'){
            $('#money').text('六百元/日)');
            $('#installment_1').text('新臺幣15,600元(600元 X 26日)');
            $('#installment_2').text('新臺幣18,600元(600元 X 31日)');
            $('#installment_3').text('新臺幣9,000元(600元 X 15日)');
        }else if(dock == 'parallel_dock'){
            $('#money').text('三百元/日)');
            $('#installment_1').text('新臺幣7,800元(300元 X 26日)');
            $('#installment_2').text('新臺幣9,300元(300元 X 31日)');
            $('#installment_3').text('新臺幣4,500元(300元 X 15日)');
        }else if(dock == 'vertical_dock'){
            $('#money').text('一百元/日)');
            $('#installment_1').text('新臺幣2,600元(100元 X 26日)');
            $('#installment_2').text('新臺幣3,100元(100元 X 31日)');
            $('#installment_3').text('新臺幣1,500元(100元 X 15日)');
        }
    }

    function showAndHide(checkbox, name) {
        let checkboxes = document.getElementsByName('payment') 
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })

        const payment_method = ['ATM', 'cash'];

        payment_method.forEach((element) => {
            $(`#${element}`).hide();
        })
        $(`#${name}`).show();
    }

    function previousPage() {
        $('#calculate_payment').hide();
        $('#applyForm').show();
        $('#next_button').show();
    }
</script>
