<div>
    <div class="flex">
        <p class="px-2 py-1 bg-orange-300 w-32 font-bold mr-4">本帳號管理船舶</p>
        <button class="px-2 py-1 bg-sky-400 rounded text-white">新增</button>
    </div>
    <br>
    <div id="vessel-div">
        <table>
            <thead>
                <tr class="bg-sky-400"><th colspan="3">1</th></tr>
            </thead>
            <tbody>
                <tr class="border-t-2 border-white p-4">
                    <td rowspan="3" class="bg-blue-300 border-r-2 border-white px-4">船舶編號</td>
                    <td class="bg-blue-300 px-4">漁船編號</td>
                    <td class="bg-blue-300 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td class="bg-blue-100 border-t-2 border-white px-4">船舶號數</td>
                    <td class="bg-blue-100 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td class="bg-blue-300 border-t-2 border-white px-4">MMSI</td>
                    <td class="bg-blue-300 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bg-blue-100 border-t-2 border-white">船舶名稱</td>
                    <td class="bg-blue-100 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bg-blue-300 border-t-2 border-white">船舶所有人統編</td>
                    <td class="bg-blue-300 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bg-blue-100 border-t-2 border-white">船舶所有人姓名</td>
                    <td class="bg-blue-100 border-t-2 border-white "><input type="text" class="rounded m-2"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bg-blue-300 border-t-2 border-white">上傳委託書</td>
                    <td class="bg-blue-300 border-t-2 border-white "><input type="file" class="rounded m-2 w-40"></td>
                </tr>
                <tr>
                    <td colspan="2" class="bg-blue-100 border-t-2 border-white">上傳船舶證書</td>
                    <td class="bg-blue-100 border-t-2 border-white "><input type="file" class="rounded m-2 w-40"></td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center my-6">
            <button class="px-2 py-1 bg-red-500 text-white rounded">刪除</button>
        </div>
    </div>
    
</div>
